.currentWeatherContainer {
    height: 33%;
}

.location-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px;
} 
    .location-info h2 {
        margin: 5px;
    }

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

    .row span { 
        font-size: .9rem;
    }

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
    .main h2 {
        font-size: 4rem;
        font-weight: 700;
        margin: 5px;
    }
    .main h4 { 
        font-size: 18px;
        margin: 0;
    }
    .main span {
        font-size: 16px;
    }
.sub-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sun-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compass {
    background: url('../Photos/Compass.png'); 
    background-size: cover;
  }