.currentWeatherContainer {
    height: 33%;
}

.location-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px;
    font-size: 2vh;
} 
    .location-info h2 {
        margin: 5px;
    }

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 .4vw;
}
    .main h2 {
        font-weight: 700;
        margin: 5px;
    }
    .main h4 { 
        margin: 0;
    }
.sub-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sun-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compass {
    background: url('../Photos/Compass.png'); 
    background-size: cover;
  }