.location-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
} 

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.row span { 
    font-size: .9rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 0px;
}
    .main h2 {
        font-size: 4rem;
        font-weight: 700;
        margin: 15px 0;
    }
    .main h4 { 
        font-size: 18px;
        margin: 15px 0;
    }
    .main span {
        font-size: 16px;
    }

.sun-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compass {
    background: url('../Photos/Compass.png'); 
    background-size: cover;
  }