.dayForecastComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 33%;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
    width: 12.5%;
}
    .day h3 { color: rgb(251, 255, 5); }
    .day img { height: 75px }
    .day > * {
        margin:  0;
        padding: 0;
    }


.dayHighLow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    line-height: 0;
}

.sun-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
}