@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

#container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
.weather-container {
    width: 95vw;
    height: fit-content;
    border-radius: 20px;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---Search Bar---*/

.search-btn {
    background: transparent;
    border: none;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.bar {
    display: flex;
    top: 20%;
    margin: 0 auto;
    width: 41%;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    margin: 2rem 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
    @media (max-width: 768px) {
        .bar {width: 70%;}
    }
.searchbar {
    height: 35px;
    background: transparent;
    border: none;
    width: 90%;
    font-size: 16px;
    outline: none;
}
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #2d0a49);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #1900ff);
}